.search{
    background-image: url(../img/header1.jpg);
    /* height: 600px;
    width: 1920px ; */
    height: 450px;
    width: auto ;
    margin: auto;
    position: relative;
    margin-top: 70px;
    background-size: cover;
    background-position: center center;
}

.search .content{
    /* background-color: rgba(0,0,0,0.5); */
    width :50%;
    height: 80px;
    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 8px;
    padding: 3px 5px ;
    top: 50%;
    left: 50%;
}
.search input{
    border-radius: 8px;
    width: 75%;
    height: 65px ;
    font-size: 28px;
    margin-left: 20px;
    
}
.search button {
    width: 20%;
    height: 65px;
    border-radius: 8px; 
    font-size: 28px;
    margin-right: 5px;
    padding: auto ;
}


main{
    max-width: 1360px;
    width: auto;
    margin : auto;
}

main h1 {
    text-align: center;
    margin:20px,0;
}

main h2{
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 20px;
}

main figure{
    border: 0.5px solid gray;
    width: 30%;
    float: left;
    margin: 1%;
    padding: 0.5%;
}

main figure:hover{
    background-color: #204362;
    color: #9e7e72;
}

main figure img{
    width: 100%;
}

main figure span{
    color :#666;
}

main figure b{
    color :orange;
}

main figcaption .price p{
    color:orangered;
    float: left;

}

main figcaption .price b{
    font-size: 28px;

}

main figcaption .price span{
    float: right;
    color:#666;
}

.type{
    position: absolute;
    margin-left: 5px;
    margin-top:2px;
    background-color: green;
    color: white;
    padding: 3px;
    border-radius: 4px;
}