#figurediv{
    width: 100%;
    height: auto;
    margin: auto;
}
#figurediv figure{
    border: 0.8px solid black;
    border-radius: 8px;
    width: 95%;
    margin: auto;
    margin-top: 3ch;
    display: grid;
    grid-template-columns: 40ch auto;
}
#figurediv figure:hover {
    background-color: azure;
}

#figurediv .travelbar{
    position :relative;
    
}

#figurediv .travelbar .type{
    position: absolute;
    margin-left: 5px;
    margin-top:2px;
    background-color: green;
    color: white;
    padding: 3px;
    border-radius: 4px;
}

#figurediv .travelbar .price .type2{
    position: absolute;
    vertical-align: super;
    text-align: right;
    color: orange;
    padding: 3px;
    text-shadow: #71c9ce;
    font-weight: 400;
    top: 4px;
    right: 0px;
    transform: rotate(45deg);
}

#figurediv figure img{
    width: 100%;
    border-radius: 8px;
    margin-left: 0.5%;
    margin-top: 0.5%;
}
#figurediv figure figcaption{
    width: 100%;
    border-radius: 8px;
    margin-left: 10px;
    display: grid;
    grid-template-rows: 8fr 1fr;
}
#figurediv figure figcaption .upbar{
    display: grid;
    grid-template-columns: 6fr 4fr;
}

#figurediv figure figcaption .introduce p{
    font-size: 20px;
    color: rgb(97, 133, 133);
}

#figurediv figure figcaption .introduce .Ptitle{
    font-size: 30px;
    color :inherit;
}
#figurediv .traffic{
    font-size: 15px;
    margin-top: 10px;
}

#figurediv .traffic mark{
    color: #71c9ce;
    border: 1px #71c9ce solid;
    background-color: inherit;
}

#figurediv .traffic li{
    margin-left: 5px;
}

#figurediv figure figcaption .price{
    text-align: center;
    vertical-align: middle;
    margin: auto ;
}

#figurediv figure figcaption .price mark{
    color: orangered;
    font-size: 25px;
    background-color: inherit;
}

#figurediv figure figcaption button{
    text-align: center;
    font-size: 30px;
    padding: 0  3px;
    background-color: orange;
    color: inherit;
    border: 0.5px black solid;
    border-radius: 5px;
    height: 60px ;
    width:100%
}

#figurediv figure figcaption button:hover{
    background-color: #c58001;
}

.button{
    background-color:  aliceblue;
    color: gray;
    border-radius: 8px;
    border: 0.5px solid black;
    margin-top: 30px;
    margin: auto;
    padding: auto;
    height: 60px;
    width: 30%;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    cursor: pointer;
    user-select: none;
}

.button:hover{
    background-color:  #204362;
    color: #9e7e72;
}